<!DOCTYPE html>
<html>
  <head>
    <title>You shouldn't be here</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
░░░░░░░░░░░░░░░░░░▓▒▓██▓█▓█▒░▒░░░░░░░░░░░░░░<br>░░░░░░░░░░░░░░░▒▓████████████▓▓░░░░░░░░░░░░░<br>░░░░░░░░░░░░░░▓█▓▒██████████▒▓██▒░▒▒▒░░░▒░░░<br>░░░░░░░░░░░░░▒▓▒░░░░█████▓░░░░░██▓▒▓▒░░▒░░░░<br>░░░░░░░░░▓▒▒▓██▓▒▒░░▓████▓▒▒▒░░██▓██░░▓░░░░░<br>░░░░░░░░▒▒░▒███████████████████████▒░▓▒░░░░░<br>░░░░░░░░▒░▒▓█████▒▒▓▓▒▒▒▒▒░░████████▓▒▒▒░░░░<br>░░░░░░░░▒▒░███████▒░░░░░░░░██▒▓▓▓███▒▒▒░░░░░<br>░░░░░░▒███▓▓████████░░░░░██▓▓██▓█▓▓██▒▒▒░░░░<br>░░░░░░█████▓▓█████████████▓████████▓█▓▒▒░░░░<br>░░░░░███████▓▓███████████▓██▓██▓███▓█▓▒▒░░░░<br>░░░░░████████▒███████████▓█▓██▒██▓▓██▓▒░░░░░<br>░░░░▒█▓██▓▓██▓███████████▓▓▓██▓██▓▓█▓▒▒░░░░░<br>░░░░▒█▓██▓█▓▒█████████████▓▓▒██▒▓▓██░▒░░░░░░<br>░░░░░░░▓▓▒▒░▒▓██████████████▓▓▓▓███▒░▒░░░░░░<br>░░░░░░░░░░░░░▒█▓█████████████████▓▒▒░▒░░░░░░<br>░░░░░░░░░░░░▒▒▓▒██████████████████▓▒▒▒░░░░░░<br>░░░░░░░░░░░░▒▒▒▒▒▓▓███████████████▓▒▒▒░░░░░░<br>░░░░░░░░░░░░▒░░▒▒▒▒▓█▓█████████████▓▒▒░░░░░░<br>░░░░░▒▒▒▒░░▒░░░░▒▒▒▒▒▒▒▒█▓██████████▒▒▒░░░░░<br>░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒░░▒▒▒▓█████████▓▓▓░░░░<br>░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▓▓▒▓▓████▓▒▒░░░░<br>░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒██▒░░░░░
  </body>
</html>
